In [1]:
# The code was removed by Watson Studio for sharing.

,YEAR,OPERATOR,PAX TO,PAX FROM,PAX TOTAL,FREIGHT TO,FREIGHT FROM,FREIGHT TOTAL
0,2005-06,INDIAN,2944888,3204672,6149560,34876,63870,98746
1,2005-06,FOREIGN,6791643,7224041,14015684,293867,422266,716132
2,2005-06,TOTAL,9736531,10428713,20165244,328742,486136,814878
3,2006-07,INDIAN,3458135,3700628,7158763,41242,71800,113043
4,2006-07,FOREIGN,7825833,8387088,16212921,356086,457914,814000